<div class="row" *ngIf="availability">
    <div class="col">
        <label>Date du créneau :</label>
        <nz-select [(ngModel)]="selectedDate" class="mx-auto d-block" (ngModelChange)="selectedTime = null">
            <nz-option nzLabel="{{booking.schedule.substring(0,10) | date:'EEEE d MMMM'}} &#8226;" [nzValue]="booking.schedule.substring(0,10)"></nz-option>
            <nz-option *ngFor="let date of availability | keyvalue" [nzValue]="date.key"
                nzLabel="{{date.key | date:'EEEE d MMMM'}}"></nz-option>
        </nz-select>
    </div>
    <div class="col ">
        <label>Horaire :</label>
        <nz-select [(ngModel)]="selectedTime" class="mx-auto d-block">
            <nz-option *ngIf="selectedDate == booking.schedule.substring(0,10)" [nzValue]="booking.schedule.substring(11,19)" [nzLabel]="booking.schedule.substring(11,19) + ' &#8226;'"></nz-option>
            <nz-option *ngFor="let time of availability[selectedDate]"
                [nzHide]="time.remaining == 0" [nzValue]="time.schedule" [nzLabel]="time.schedule">
            </nz-option>
        </nz-select>
</div> 