<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img src="./assets/logo.png" class="rounded" />
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          <h5>Commander</h5>
        </div>
        <div class="col-sm text-right">
          <div class="row">
            <h5>Mes paniers</h5>
            <button nz-button nzType="primary">
              <i nz-icon nzType="user" class="mr-3"></i> Connexion
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
