.logo {
    width: 50px;
    margin : 0px;
}




li{
    font-family: "Averta";
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #909cff !important;
}
.nav-link{
    color: black !important;
}

.menu-burger{
    width:35px;
}


