<h1 class="bold text-center mt-5">Vente directe de fruits légumes et produits de la ferme</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/images/panier.jpg" class="w-100">

        </div>
        <div class="col">
            <p class="mt-5">Actif depuis 2009, je suis votre producteur et commerçant de produits artisanaux de saison,
                frais et naturels. Je
                travaille également en collaboration avec des producteurs locaux et nationaux. Mes ventes de fruits et
                légumes
                de producteur s’effectuent sur place, en retrait dans un point relais ou par livraison de paniers à
                domicile ou
                sur
                le lieu de travail.</p>
        </div>
        <div class="col-12 mt-5">
            <h3 class="bold">Présentation de la société Rémy Primeur</h3>
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/logo2.gif" class="w-100" />
                </div>
                <div class="col mt-2">
                    Ma passion pour l’agriculture m’a amené à développer ma propre culture maraîchère, pour vous
                    orienter vers une nourriture saine et variée. Mes champs de culture abrités sous serres froides se
                    situent dans le sud de la France à Saint-Priest–Manissieux (69800). Je vous offre des prestations
                    vous permettant d’acheter des fruits et légumes directement au producteur, sur place ou en livraison
                    de paniers, en utilisant des méthodes d’agriculture naturelles et respectueuses de la nature.
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <h5 class="bold">Mes méthodes de travail</h5>
            <p>Mes techniques de culture pour la vente de fruits et légumes de saison s’inspirent de l’agriculture
                raisonnée traditionnelle qui respecte l’environnement. Voici un aperçu des pratiques naturelles que
                j’emploie :</p>
            <ul>
                <li>Optimisation de la pollinisation naturelle et responsable par l’introduction de bourdons sous serre.
                </li>
                <li>Introduction d’insectes auxiliaires (coccinelles… ) pour combattre les parasites et autres nuisibles
                    (pucerons,…) afin de ne pas utiliser de traitements phytosanitaires.</li>
                <li>Favorisation du désherbage manuel et mécanique au maximum. J’utilise des bâches biodégradables pour
                    combattre et limiter les herbes indésirables à la culture et donc éviter les désherbants chimiques
                </li>
                <li>Fertilisation écologique avec du fumier naturel ainsi que des engrais et compostes végétaux.</li>
            </ul>
        </div>
        <div class="col-12 mt-3">
            <h5 class="bold">Les produits complémentaires</h5>
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/images/legume-100-300x203.jpg" class="w-100">
                </div>
                <div class="col">
                    Pour vous proposer un choix plus étendu de fruits et légumes frais, je collabore en partenariat avec
                    d’autres producteurs locaux, mais aussi internationaux pour vous apporter également des fruits
                    exotiques savoureux. Tous mes partenaires pratiquent eux aussi l’agriculture raisonnée ou
                    biologique. Je sélectionne au maximum les produits non traités après récolte. Je précise toujours
                    l’origine et le mode de culture employé sur chacun des produits par des fiches explicatives qui les
                    accompagnent.
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <h5 class="bold">Mes objectifs</h5>
            <p>Mon principal objectif consiste à fournir à mes clients des prestations de qualité et d’optimiser le fait
                de pouvoir acheter des fruits et légumes directement au producteur par les circuits courts dans le but
                de favoriser une consommation responsable et écologique. Aussi, pour vous offrir les qualités gustatives
                optimales de la culture de produits potagers frais, je récolte et m’approvisionne chaque jour. Lors de
                mes ventes de fruits et légumes sur place, je suis entièrement à votre écoute et vous conseille selon
                vos besoins. N’hésitez pas à me faire part de vos remarques et vos envies particulières afin que je
                puisse vous satisfaire au mieux.</p>
        </div>
        <div class="col-6 mx-auto d-block">
            <img src="../../../assets/images/panier-bg.png" class="w-100" />
        </div>

        <div class="col-12 mt-3">
            <h5 class="bold">Les diverses possibilités d’achat</h5>
            <p>Il existe plusieurs options pour acheter vos fruits et légumes directement au producteur : En fonction de
                vos préférences vous pouvez faire votre marché sur place dans mon point de vente directe, ou bien
                effectuer vos commandes 48h à l’avance par internet, par téléphone ou par sms. Ceci vous garantit la
                disponibilité des produits souhaités. Voici un récapitulatif des possibilités de retrait :</p>
            <ul>
                <li>Le point de vente directe ouvert tous les mardis et vendredis de 15h00 à 20h00</li>
                <li>Le Drive ouvert tous les mardis et vendredis de 15h00 à 20h00 et tous les mercredis et samedis de
                    9h00 à 13h00</li>
                <li>La livraison à domicile ou sur votre lieu de travail les mercredis, jeudis et samedis</li>
                <li>Le point relais de Proxi Manissieux, 23 rue Jules Verne, 69000 Saint-Priest, ouvert les mercredis et
                    jeudis de 9h00 à 12h00 et 15h30 à 19h00 ainsi que les samedis de 8h00 à 12h00.</li>
            </ul>
            <p>J’approvisionne également les restaurants, les primeurs , les boulangeries et les GMS sur la zone de
                Lyon-Est (Saint-Priest, Genas, Chassieu, Saint-Laurent-de-Mure, Saint-Bonnet-de-Mure,Bron,Mions…).</p>
            <p>Si votre commerce a des besoins en fruits et légumes frais de producteurs et en produits fermiers
                artisanaux, n’hésitez pas à me contacter pour me transmettre vos demandes.</p>
        </div>
    </div>
</div>