<h1 class="text-center">Rémy vous livre</h1>
<h3 class="text-center">Des produits frais</h3>

<div class="row mx-0 w-100">
    <div class="col-md col-6 px-0">
        <img src="../../../../assets/images/carousel/carotte.png" class="d-block mx-auto w-100">
    </div>  
    <div class="col-md col-6 px-0">
        <img src="../../../../assets/images/carousel/tomatte.png" class="d-block mx-auto w-100">
    </div>
    <div class="col-md col-6 px-0">
        <img src="../../../../assets/images/carousel/epinard.gif" class="d-block mx-auto w-100">
    </div>
    <div class="col-md col-6 px-0">
        <img src="../../../../assets/images/carousel/apple.gif" class="d-block mx-auto w-100">
    </div> 
</div>