<div class="row bg-grey mx-0 pb-5"> 
    <div class="col-md-10 mx-auto d-block mt-5">
        <h1 class="bold text-center">Ma commande</h1>
        <div class="row mt-4">
            <div class="col-md col-12 px-md-5" *ngIf="booking">
                <page-products-table [orderMode]="true" [booking]="booking" (change)="updateOrder($event)"></page-products-table>
            </div>
            <div class="col-md-4 mx-05 mt-4 mt-md-0 mx-md-0">
                <div class="sticky">
                    <dashboard-order-summary [(ngModel)]="booking"></dashboard-order-summary>
                </div>
            </div>
        </div>
    </div>
</div>