<div class="row bg-grey mx-0 pb-5">
    <div class="col-md-10 mx-auto d-block mt-5">
        <h1 class="bold text-center">Paiement</h1>
        <div class="row mt-4">
            <div class="col-md col-12 bg-white rounded-lg px-0 pb-05" *ngIf="booking">
                <h5 class="m-3">Paiement</h5>
                <div class="bg-grey mx-05">
                    <div id="stripe-card" class="p-2" style="height:36px"></div>
                </div>
                <p class="mx-05 mt-3"><small>Le débit ne sera effectif qu'à la délivrance des produits. Vos détails de
                        paiement sont stockés en sécurité auprès de notre partenaire de paiement
                        <span class="text-primary">Stripe</span>, en utilisant un cryptage de qualité bancaire.
                    </small>
                </p>
                <label nz-checkbox [(ngModel)]="checked">J'ai lu et j'accepte les conditions générales de vente</label>
                <button nz-button nzType="primary" [attr.data-secret]="intent?.client_secret" [disabled]="disabled" (click)="confirmOrder()" class="mx-05 float-right mt-2">Confirmer le paiement</button>
            </div>
            <div class="col-md-4 mx-05 mt-4 mt-md-0 mx-md-0">
                <div class="sticky">
                    <dashboard-order-summary [(ngModel)]="booking" [paymentMode]="true"></dashboard-order-summary>
                </div>
            </div>
        </div>
    </div>
</div>