::ng-deep {
    .ant-table-measure-now{
        display: none;
    }
}

.ant-tag-purple {
    color: #909cff;
    background: #909cff1f;
    border-color: #909cff;
}
.anticon {
    transform: translateY(-2px);
}
.ant-table-tbody td {
    padding: 12px 9px !important;
}