<h1 class="pt-5 bold text-center">Mes commandes</h1>
<nz-table #basicTable [nzData]="bookings?.coming" nzShowPagination="false" [nzScroll]="{ y: '68vh' }"
    class="rounded-lg">
    <thead>
        <tr>
            <th>Date de retrait</th>
            <th>Créé</th>
            <th>Montant</th>
            <th>Etat</th>
            <th class="text-center">Détail de la commande</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings?.coming">
            <td class="text-capitalize">{{ booking?.schedule | date:'EEEE d MMMM H:mm' }}</td>
            <td>{{ booking?.created_at | date:'EEEE d MMMM H:mm'}}</td>
            <td>{{booking?.total_price | currency : 'EUR'}}</td>
            <td>
                <nz-tag [nzColor]="'purple'">{{booking.status?.libelle}}</nz-tag>
            </td>
            <td>
                <button nz-button nzType="primary" (click)="openBookingModal(booking)">
                    <i nz-icon nzType="file-text"></i>
                </button>
                <button nz-button nzType="default" class="mx-3"
                    *ngIf="booking.status?.slug == 'waiting' || booking.status?.slug == 'confirmed'"
                    (click)="delete(booking)">
                    <i nz-icon nzType="close-square" nzTheme="outline"></i>
                </button>
            </td>
        </tr>
        <tr *ngFor="let booking of bookings?.past">
            <td class="text-capitalize">{{ booking?.schedule | date:'EEEE d MMMM H:mm' }}</td>
            <td>{{ booking?.created_at | date:'EEEE d MMMM H:mm'}}</td>
            <td>{{booking?.total_price | currency : 'EUR'}}</td>
            <td>
                <nz-tag [nzColor]="'purple'">{{booking.status?.libelle}}</nz-tag>
            </td>
            <td>
                <button nz-button nzType="primary" (click)="openBookingModal(booking)">
                    <i nz-icon nzType="file-text"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>