/* You can add global styles to this file, and also import other style files */
.anticon {
    transform: translateY(-5px);
}

body {
    font-family: "Averta";
}
.line {
    height: 0.1875rem;
    width: 70px;
    background: #909cff;
    border-radius: 7px;
    float: left;
}
.bold {
    font-family: "AvertaBold";
}
.text-primary {
    color: #909cff !important;
}
::-webkit-scrollbar {
    display: none;
  }

@font-face {
    font-family: "AvertaLight";
    src: url(assets/fonts/AvertaStd-Light.otf) format("truetype");
}
@font-face {
    font-family: "AvertaBold";
    src: url(assets/fonts/AvertaStd-Bold.otf) format("truetype");
}
@font-face {
    font-family: "Averta";
    src: url(assets/fonts/AvertaStd-Regular.otf) format("truetype");
}
