<div class="container mt-5">
    <h2 class="bold mb-0">Drive</h2>
    <hr class="line"/>
    <br/>
    <br/>
    <p>Nous proposons un drive les <span class="text-primary bold">mardi, vendredi de 16h à 20h</span> et le <span
            class="text-primary bold">samedi de 10h à 13h</span> !</p>
    <h5 class="mb-5">Comment ça fonctionne ?</h5>
    <nz-timeline class="mt-5">
        <nz-timeline-item>Je réserve un créneau parmis ceux qui me sont proposés</nz-timeline-item>
        <nz-timeline-item>Je passe commande des produits dont j'ai besoin dans un minimum de 20€.</nz-timeline-item>
        <nz-timeline-item>Je vais chercher mes produits sur place 5 minutes avant l'horaire réservée.
        </nz-timeline-item>
        <nz-timeline-item>Je paie sur place et je peux déguster mes produits !</nz-timeline-item>
    </nz-timeline>
    <button class="d-block mx-auto" nz-button nzType="primary" nzSize="large">Réserver mon créneau</button>
</div>