<div class="row mx-0">
    <div class="col-2 px-0">
        <ul nz-menu nzMode="inline" class="w-100">
            <li nz-menu-item><i nz-icon nzType="home" nzTheme="outline"></i>Tableau de bord</li>
            <li nz-submenu nzTitle="Mes commandes" nzIcon="shopping" nzOpen>
                <ul>
                    <li nz-menu-group nzTitle="Créneaux">
                        <ul>
                            <li nz-menu-item nzSelected>Réserver un nouveau créneau</li>
                            <li nz-menu-item>Afficher mes créneaux à venir</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Commandes">
                        <ul>
                            <li nz-menu-item>Commander mes produits</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Mon profil" nzIcon="user">
                <ul>
                    <li nz-menu-item>Afficher mon profil</li>
                    <li nz-menu-item>Réinitialiser mon mot de passe</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Réglages" nzIcon="setting">
                <ul>
                    <li nz-menu-item>A venir</li>
                    <li nz-menu-item>Option 12</li>
                    <li nz-menu-item>Option 13</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col px-0">
        <div class="body pb-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>