.body {
    background-color: #f8f9fb;
}

.mx-05 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.pb-05 {
    padding-bottom: 0.5rem;
}
li {
    outline: 0;
}

[nz-menu] {
    height: 100%;
}
::ng-deep {
    .ant-layout-sider-zero-width-trigger {
        background-color: #909cff;
    }
    .ant-layout-sider-zero-width-trigger:hover {
        background: #b8c1ff;
    }
    .ant-layout-sider-trigger {
        background-color: #909cff;
    }
    .anticon-bars {
        transform: translateY(-6px);
    }
    .ant-table-tbody td {
        padding: 12px 11px !important;
    }
    .ant-table-thead th {
        padding: 12px 11px !important;
    }
}