<h1 class="pt-5 bold text-center">Espace client</h1>

<div class="row mt-4 mx-0">
    <div class="col-12 d-block mx-auto">
        <div class="row">
            <div class="mx-md-auto d-block col-md-5 mx-3 px-0">
                <div class="bg-white rounded-lg pb-05 pt-1">
                    <h5 class="mx-3 my-3">Réserver un créneau drive</h5>
                    <div *ngIf="selectedDate" class="row bg-grey mx-05 rounded-lg mb-05">
                        <div class="col-12 mt-4">
                            <p class="mx-4">Sélectionnez un créneau horaire :</p>
                        </div>
                        <div class="col">
                            <nz-select [(ngModel)]="selectedDate" class="mx-auto d-block w-75" (ngModelChange)="selectedTime = null">
                                <nz-option *ngFor="let date of availability | keyvalue" [nzValue]="date.key"
                                    nzLabel="{{date.key | date:'EEEE d MMMM'}}"></nz-option>
                            </nz-select>
                        </div>
                        <div class="col ">
                            <nz-select [(ngModel)]="selectedTime" class="mx-auto d-block w-75">
                                <nz-option *ngFor="let time of availability[selectedDate]"
                                    [nzHide]="time.remaining == 0" [nzValue]="time.schedule" [nzLabel]="time.schedule">
                                </nz-option>
                            </nz-select>
                        </div>
                        <div class="col-12">
                            <button nz-button nzType="primary" class=" m-3 d-block ml-auto"
                                [disabled]="!(selectedDate && selectedTime)" (click)="bookDateTime()">Réserver
                                !</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-md-auto d-block col-md-5 mx-3 bg-white rounded-lg px-0 mt-5 mt-md-0">
                <h5 class="mx-3 my-3">Mes créneaux à venir</h5>
                <div class="row mx-05 pb-05" style="max-height: 65vh;overflow-y: scroll;" *ngIf="myBookings?.coming">
                    <div class="col-12 mt-2 bg-grey rounded-lg p-2"
                        *ngFor="let booking of myBookings?.coming | slice:0:5">
                        <h6 class="float-left mb-0">Réservation du
                            {{booking.schedule | date:'EEEE d MMMM H:mm'}}</h6>
                        <nz-tag [nzColor]="'purple'" class="float-right">{{booking?.status?.libelle}}
                        </nz-tag>
                        <br />
                        <small class="text-muted float-left">Créée {{booking.created_at_diff}}</small>
                        <p *ngIf="!booking.order_id" class="mt-2 text-muted float-left">Aucune commande n'a été
                            enregistrée
                            pour cette réservation, cette réservation en sera pas active tant qu'aucune
                            commande de
                            plus de 20€ lui sera associée.</p>
                        <small class="text-muted float-right mt-4">{{booking.schedule_diff}}</small>
                        <button nz-button nzType="primary" *ngIf="booking.status.slug == 'waiting'"
                            (click)="goToOrder(booking)" class=" m-3 d-block ml-auto float-left">Commander</button>
                    </div>
                    <div class="col-12 mt-2 bg-grey rounded-lg p-2" *ngIf="myBookings?.coming?.length == 0">
                        <nz-empty nzNotFoundImage="simple" nzNotFoundContent="Aucun créneau n'a été reservé pour le moment"></nz-empty>
                    </div>
                </div>
                <div class="row mx-05 pb-05">
                       <div class="col-12 mt-2">
                        <p class="bold text-primary text-center pointer" routerLink="/dashboard/reservations">
                            Afficher plus</p>
                       </div> 
                </div>
            </div>
        </div>
    </div>
</div>