<div class="row mt-5 w-100">
    <div class="col-md-1 col-4 offset-md-2 offset-8">
        <img src="../../../assets/logo2.gif" class="w-100 ">
    </div>
    <div class="col-md col-12 mx-5 mx-md-0 offset-md-2">
        <ul class="list-unstyled">
            <!-- <li>&nbsp;</li> -->
            <li>Conditions générales d'utilisation</li>
            <li>Mention légales</li>
        </ul>
    </div>
    <div class="col-12 col-md mx-5 mx-md-0">
        <ul class="list-unstyled">
            <li class="bold text-primary">Nous contacter</li>
            <li><i nz-icon nzType="mail" nzTheme="outline"></i> contact@remyvouslivre.fr</li>
            <li><i nz-icon nzType="environment" nzTheme="outline"></i> Chemin de Saint-Bonnet -de-Mure, 69800 Saint-Priest</li>
            <li><i nz-icon nzType="phone" nzTheme="outline"></i> 06 68 45 86 65</li>
        </ul>
    </div>
    <div class="col-2">
         
    </div>
</div>
<p class="text-center mt-4">© 2020 Rémyvouslivre. Tous droits réservés</p>